@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url(./root.css);

/* header */

* {
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
}

section {
    /* min-height: 100vh; */
    align-items: center;
    text-align: left;
    display: flex;
}

.container {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: -12px;
    margin-left: -12px;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

nav {
    width: 100%;
    background-color: #1e71ff;
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 1;
}

.menu-icon-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    font-weight: 600;
    line-height: 30.16px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #ffffff;
}

.try-btn {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
    text-align: center;
    color: white;
    background-color: #4b8dff;
    padding: 12px 24px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
}

.heading {
    font-family: "Poppins", sans-serif;
    font-size: 75px;
    font-weight: 600;
    line-height: 96.3px;
    letter-spacing: -0.02em;
    text-align: left;
}

.para-1 {
    font-family: "Roboto", sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 24.61px;
    text-align: left;
    margin-top: 20px;
}

.free-btn {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: center;
    border: 2px solid #ffffff;
    padding: 14px 41px;
    border-radius: 80px;
    background: white;
    color: #1e71ff;
    cursor: pointer;
}

.demo-btn {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: center;
    border: 2px solid #ffffff;
    padding: 14px 41px;
    border-radius: 80px;
    background: none;
    color: white;
    cursor: pointer;
}

.min-h-100 {
    min-height: 100vh;
}

.py-100 {
    padding: 100px 0px;
}

.col-2 {
    width: 16.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-5 {
    width: 41.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-7 {
    width: 58.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}


.d-flex {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-grow-1 {
    flex-grow: 1;
}

.align-item-center {
    align-items: center;
}

.justify-item-center {
    justify-items: center;

}

.justify-content {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.white-space {
    white-space: nowrap;
}


.text-span {
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    font-weight: 275;
    line-height: 30.16px;
    letter-spacing: -0.02em;
    text-align: left;
}

.links {
    gap: 30px;
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
    text-align: right;
}


/* section 2 */


.heading-instant {
    font-family: "Poppins", sans-serif;
    font-size: 45px;
    font-weight: 500;
    line-height: 57.78px;
    text-align: center;
    color: #2B353E;
    padding-top: 60px;
}


.para-2 {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 29.11px;
    text-align: center;
    padding: 30px 0px;
    color: #2B353EB2;
    max-width: 550px;
}

/* section 3 */

.position-relative {
    position: relative;
}

.perfect {
    font-family: "Poppins", sans-serif;
    font-size: 45px;
    font-weight: 500;
    line-height: 57.78px;
    text-align: left;
    color: #2B353E;
}

.pricing {
    font-family: "Roboto", sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 33.96px;
    text-align: left;
    color: #2B353EB2;
    padding-top: 30px;
}


.try-it-btn {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: center;
    border: 2px solid #1e71ff;
    padding: 14px 41px;
    border-radius: 80px;
    background: #1e71ff;
    color: white;
    cursor: pointer;
}

.get-btn {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: center;
    border: 2px solid #1e71ff;
    padding: 14px 41px;
    border-radius: 80px;
    background: none;
    color: #1e71ff;
    cursor: pointer;
}

.line {
    max-width: 170px;
    border-top: 1px solid #cdd5e2;
    margin-top: 60px;
}


.svg {
    padding-top: 5px;
}

.para-buisness {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 29.11px;
    text-align: left;
    margin-left: 25px;
    max-width: 274px;
    color: #2B353EB2;
}

.chatapp-span {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 29.11px;
}

/* footer */


.para-last-team {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24.25px;
    text-align: left;
    padding-top: 40px;
    color: #2B353EB2;
    max-width: 155px;
}

.headings {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 29.11px;
    margin-bottom: 20px;
}

.mtb-50px {
    margin-top: 60px;
    margin-bottom: 60px;
}

.list-item a {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 21.02px;
    text-align: left;
    color: #2B353EB2;
}

.pt-10px {
    padding-top: 10px;
}

.copyright {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 21.02px;
    text-align: left;
    color: #2B353EB2;
    padding-top: 120px;
    padding-bottom: 30px;
}

/* margin & padding start */
.mt-50px {
    margin-top: 50px;
}

.mt-40px {
    margin-top: 40px;
}


.ml-30px {
    margin-left: 30px;
}

.mt-24 {
    margin-top: 24px;
}

.pb-60 {
    padding-bottom: 60px;
}

.py-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.padding-top-bottom-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

/* margin & padding end */

/* colors start */

.color-Brilliant-White {
    background-color: #e9f1ff;
}

.color-Magic-Fountain {
    color: #1e71ff;
}

.color-Anchors-Aweigh {
    color: #2b353e;
}

.white {
    color: white;
}

.bg-color-Magic-Fountain {
    background-color: #1E71FF;
}

.color-white {
    color: white;
}

/* color end */


/* height & width start */
.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

/* height & width end */

/* @media query start */

@media (max-width:400px) {
    .flex-direction-400 {
        flex-direction: column;
    }

    .mt-20 {
        margin-top: 20px;
    }

    .ml-30px {
        margin-left: 0px;
    }

    .ml-0px {
        margin-left: 0px;
    }

    .max-width-400 {
        max-width: 300px;
    }
}

@media (min-width:576px) {
    .col-sm-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .ml-30px {
        margin-left: 30px;
    }
}

@media (min-width:768px) {
    .col-md-4 {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

}

@media (max-width:767.98px) {
    .links {
        flex-direction: column;
        justify-content: center;
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        width: 100%;
        background-color: #39f22f;
        transition: all 200ms linear;
    }

    label[for="openslider"] {
        width: 40px;
        height: 25px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 1;
    }

    label[for="openslider"] span {
        width: 100%;
        height: 5px;
        background-color: white;
        border-radius: 3px;
        transition: all 200ms linear;
    }

    input:checked~.links {
        right: 0;
    }

    input:checked~label[for="openslider"] span:first-child {
        transform: rotate(29deg);
        transform-origin: left;
    }

    input:checked~label[for="openslider"] span:last-child {
        transform: rotate(-31deg);
        transform-origin: left;
    }

    input:checked~label[for="openslider"] span:nth-child(2) {
        transform: translateX(-40px);
        opacity: 0;
        visibility: hidden;
    }


}

@media (min-width:992px) {
    .col-lg-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .mt-lg-0 {
        margin-top: 0px;
    }

    .col-lg-5 {
        width: 41.66%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-lg-7 {
        width: 58.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .mockup-image {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 45%;
        height: 100%;
    }

.flex-row{
    flex-direction: row;
}

    .col-lg-3 {
        width: 25%;
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media (min-width:1200px) {
    .col-xl-2 {
        width: 16.66%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-xl-4 {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .mt-xl-0 {
        margin-top: 0px;
    }
}

/* @media query end */